html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.landingPage {
    background-image: url("https://i.gifer.com/3HeZ.gif");
    
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh
}
* {
    margin: 0;
    padding: 0;
}
 .welcomeLanding{
   position: relative;
   top: -200px;

     margin: 0 auto;
      
      background-color: rgba(0, 0, 0, 0.555);
       text-align: center;
       color: rgb(255, 255, 255);
      
       font-size: 45px;
}
.continue{
    color: rgb(255, 255, 255);
    border: solid beige 1px;
    width: 62%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(60, 112, 255, 0.384);
}
  
  .start{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.LinkIngreso{
    text-decoration: none;
    font-size: 45px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 15px;
    transition: 0.8s;
    border: solid rgba(255, 255, 255, 0.582) 2px;
}
.LinkIngreso:hover{
    background-color: rgba(0, 255, 0, 0.089);
    color: rgb(172, 255, 152);
    border: solid rgb(0, 0, 0) 3px;
}
.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
    max-width: 100%;
    border: 20px;
    padding: 15px;
    box-sizing: border-box;
    width: calc(43% - 15px);
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    margin: 20px 40px;
}
  .navCardContainer{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
  .card-container div {
    margin-bottom: 40px;
}
  .card-container{
    border: solid rgb(209, 209, 209) 1px;
}
  .card-container img {
    height: 400px;
    width: 600px; 
    max-width: 90%;
    border-radius: 20px;
    border: solid white 2px;
    transition: 0.3s;
}
.card-container img:hover{
    border: solid rgb(46, 196, 255) 5px;
}
.container-home{
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/33729hd.jpg");
    background-size: cover;

}
.searchBar button{
    border-radius: 4px;
    width: 60px;
    background-color: rgb(197, 213, 243);
    transition: 0.5s;
}
.searchBar button:hover{
    background-color: rgb(77, 121, 202);
}
.searchBar input{
    border-radius: 5px;
}
.navBar{
    background-color: rgba(54, 54, 54, 0.712);
    width: (calc(90%));
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    justify-items: center;
}
.navBar select{
    border-radius: 8px;
    width: 150px;
    flex-wrap: wrap;
    transition: 0.5s;
    background-color: rgb(214, 214, 214);
}
.navBar select:hover{
    background-color: rgb(172, 172, 172);
}
.navButtonCreated button{
    background-color: rgb(214, 214, 214);
    transition: 0.5s;
    padding: 10px;
}
.navLinkCreated{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline;
}
.navButtonCreated{
    display: inline;
    position:absolute;
    margin-left: 10px;
    right: calc(35%);
}
.navButtonCreated button:hover{
    background-color: rgba(116, 255, 81, 0.253);
    border: solid green 2px;
}
.buttonReset button{
    background-color: rgb(214, 214, 214);
    border: solid rgb(255, 255, 255) 2px;
    cursor: pointer;
    border-radius: 25px;
    padding: 2px;
    transition: 0.5s;
}
.buttonReset button img{
    width: 35px;
}
.buttonReset {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;   
   left: -80px;
}
.buttonReset button:hover{
    background-color: rgba(116, 255, 81, 0.253);
    border: solid green 2px;
}
.paginado{
    background-color: rgb(214, 214, 214);
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: solid rgb(187, 187, 187) 2px;
    font-weight: bold;
    display: inline;
    border-radius: 1px;
    cursor: pointer;
    padding: 4px;
   padding-top: 3px;
   padding-bottom: 3px;
   transition: 0.8s;
}
.paginado:hover{
    background-color: rgba(116, 255, 81, 0.253);
    border: solid  rgb(0, 0, 0) 2px;
    border-radius: 2px;
}
.containerForm{
    background-image: url("https://wallpaperaccess.com/full/5927911.gif");
    background-size: cover;
    height: 100vh;
}

.containerForm h2{
    color: white;
    background-color: rgb(0, 0, 0);
    height: 40px;
}
.containerData{
    background-color: rgba(0, 0, 0, 0.6);
    width: calc(45%);
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    top: 50px;
    left: 3%;
    height: 85%;
}
.containerData button{
   margin-top: 30px;
   font-size: 100%;
   width: 50%;
   height: fit-content;
   background-color: cornsilk;
   transition: 0.8s;
   border-radius: 7px;
}
.containerData button:hover{
    background-color: rgb(156, 255, 161);
}
.containerData input{
    width: 80%;
    margin-bottom: 20px;
}
.containerData textarea{
    width: 80%;
    height: 60px;
}
.containerSelecPlat {
    margin-bottom: 20px;
}
.containerData label{
    color:white;
    display:block;
}
.condition{
    display: inline-block;
    position: absolute;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    top: 50px;
    width: calc(40%);
    right: 3%;
    font-size: 20px;
    color: rgb(255, 0, 0);
    height: 85%;
}
.condition div{
    border: solid rgba(255, 255, 255, 0.596) 1px;
    background-color: rgba(255, 255, 255, 0.226);
    width: fit-content; 
    display: block;
    padding: 6px;
    margin: 0 auto;
}
.containerPlat{
    position: absolute;
    display: inline;
    color: white;
    top: 170px;
    right: 3%;
    width:calc(40%);
    margin-left: 10%;
}
.containerGenre{
    position: absolute;
    display: inline-block;
    color: white;
    right: 3%;
    width: calc(40%);
    top: 350px;
}

.containerPlat div{
    display: inline-block;
}
.datePicker input{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    width: 120px;
    text-align: center;
    position: relative;
}

.containerDetail{
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/33729hd.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.backHome{
    position: relative;
    right: 45%;
}
.backHome img{
    width: 50px;
    height: 40px;
    position: relative;
    display: inline-block;
    top: 65px;
    border: solid rgba(255, 255, 255, 0.39) 2px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
    transition: 0.5s;
   
}
.backHome img:hover{
    border: solid rgba(12, 255, 12, 0.651) 2px;
}
.containerId {
    position: relative;
    top: -48px;
    color: white;
    padding: 10px;
   border: solid black 1px;
    background-color: rgba(0, 0, 0, 0.767);
    transition: 1s;
}
.containerId:hover{
    color: rgba(12, 255, 12, 0.651);
}
.containerDescription h4{
    position: relative;
    margin: 0 auto;
    max-height: 200px;
    width: calc(80%);
    overflow: auto;
    border: solid rgba(0, 0, 0, 0.334) 2px;
    background-color: rgba(0, 0, 0, 0.089);
}

.containerDescription{
    color: rgb(0, 0, 0);
}
.platformDetail div{
    display: inline;
    
}
.platformDetail{
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.308);
    width: fit-content;
    padding: 0px 20px;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.214) 2px;
    margin: 0 auto;
}
.imageDetail{
    position: relative;
    width: calc(40%);
    transition: 0.5s;
}
.imageDetail:hover{
    width: calc(70%);
}
.releaseDetail h3{
    display: inline;
}
.releaseDetail h4{
    display: inline;
    color: rgb(0, 0, 0);
    width: max-content;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 4px;
    border-radius: 10px;
    border: solid rgba(0, 128, 0, 0.404) 1px;
}
.releaseDetail{
    color: rgb(0, 0, 0);
    margin: 10px;
}
.genresDetail{
    
    color: rgb(0, 0, 0);
    justify-items: center;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.308);
    border: solid rgba(0, 0, 0, 0.233) 1px;
    max-width: 400px;
}
.genresDetail h3{
    display: inline;
}
.ratingDetail{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.031);
    border: solid rgba(255, 255, 255, 0.104) 1px;
}
.ratingDetail h3{
    display: inline;
    margin-right: 20px;
}
.ratingDetail h4{
    display: inline;
    color: red;
}
.containerCreated {
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/33729hd.jpg");
    height: 100vh;
  }
  
  .imageMario img {
    width: 30%;
    
    position: relative;
    margin: auto 10%;
    margin-top: 5%;
    
    
  }
  
  .iconBack {
    width: 50px;
    height: 40px;
    margin-right: 90%;
    margin-top: 10px;
    border: solid rgba(255, 255, 255, 0.39) 2px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
    transition: 0.5s;
  }
  .iconBack:hover{
    border: solid rgba(12, 255, 12, 0.651) 2px;
  }

.congratulations {
    margin: auto auto;
    
    position: relative;
    top:33%;
    padding: 10px;
    height: fit-content;
    font-size: 30px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.11);
    word-wrap: break-word;
   border: solid rgba(0, 0, 0, 0.212) 2px;
   border-radius: 10px;
    
    
    
  }
  .loadingDetail img{
    position: relative;
    width: calc(20%);
    display: inline-block;
    margin-top: 100px;
    padding: 10%;
    margin-bottom: 380px;
    
    
   }
   .loadingDetail h1{
    position: absolute;
    display: inline-block;
   margin-left: -30px;
   margin-top: 25%;
   left: 46%;
   
   }
   .loadingHome img{
    position: relative;
    width: calc(20%);
    display: inline-block;
    
    padding: 10%;
    margin-bottom: 400px;
   }
   .loadingHome h1{
    position: absolute;
    display: inline-block;
   margin-left: -25px;
   margin-top: 15%;
   left: 46%;
   }

  

@media only screen and (max-width: 768px) {
    .card-container {
      width: 100%;
      font-size: 2vw;
      position: relative;
      display: block;
    }
    .container-home{
        padding-right: 15%;
    }
    .navBar select{
        display: block;
        margin: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    .navBar{
        margin-left: 18%;
    }
    .searchBar input{
        width: 150px;
    }
    .buttonReset {
        margin-left: 100px;
        display: block;
        position: static;
    }
    .navButtonCreated{
        display: block;
        position: static;
        margin: 0px 0px 30px 17%;
    }
    .containerPaginado{
        position: relative;
        margin-left: 16%;
    }
   .condition{
    font-size: 12px;
   }
   .containerData{
    width: calc(50%);
   }
   .containerGenre{
    top: 430px;
   }
   .containerPlat div{
    font-size: 10px;
   }
   
   .congratulations{
    top: 25%;
    font-size: 16px;
    width: 27%;
   }
   .loadingDetail img{
    margin-top: 250px;
    margin-bottom: 480px;
   }
   .backHome{
    margin-left: 40px;
    
   }
   .loadingHome h1{
    font-size: 18px;
    margin-top: 20px;
   }
   .loadingHome img{
    padding: 5%;
    margin-left: 15%;
    margin-bottom: 500px;
   }
   .welcomeLanding{
    font-size: 32px;
   }
}
@media screen and (max-width: 500px) {  
    .card-container img {
        height: 200px;
    }
    .card-container{
        margin-left: 8%;
    }
    .containerPaginado{
        margin-left: 16%;
    }
    .buttonReset{
        margin-left: 20%;
    }
}
